.starting-content{
    margin-bottom: 150px;
    margin-top: 150px;
    /* overflow: hidden; */
}
.cartoon-img{
    /* background-color: aliceblue; */
    background-image: url("couple-imgs/couple-1-Photoroom.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    animation: cartoon-img-frame 2s ease,bounce 5s ease 2s infinite;
}
@keyframes cartoon-img-frame {
    from{
        transform: translateX(-400px) translateY(-200px) rotate(30deg);
    }to{
        transform: translateX(0px);
    }
}
.cartoon-text{
    /* background-color: darkblue; */
    background-color: transparent;
    height: 400px;
    animation: cartoon-text-frame 1s ease, bounce 5s ease-in 1s infinite reverse;
}
@keyframes cartoon-text-frame {
    from{
        transform: translateX(400px) translateY(200px) rotate(-30deg);
    }to{
        transform: translateX(0px);
    }
}
@keyframes bounce {
    0%, 100% { transform: translateY(0) translateX(-10px) rotate(-2deg); }
    50% { transform: translateY(-10px) translateX(10px) rotate(2deg); }
  }

.cartoon-text h1{
    background: linear-gradient(to right, #f0b4bf, #ee8eae);
    background: url("couple-imgs/text-bg-1.jpg");
    background-size: cover;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 5px darkblue;
    font-weight: 100;
    font-size: 69px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5)); /* Alternative shadow */
}

.scroll-disappear-right{
    animation: disappear-right 1s linear running;
    animation-timeline: view();
    animation-range: exit 0%;
    animation-fill-mode: forwards;
}
@keyframes disappear-right {
    to{
        opacity: 0.4;
        transform: translateY(-20px) translateX(250px);
    }
}
.scroll-disappear-left{
    animation: disappear-left 1s linear running;
    animation-timeline: view();
    animation-range: exit 0%;
    animation-fill-mode: forwards;
}
@keyframes disappear-left {
    to{
        opacity: 0.7;
        transform: translateY(-20px) translateX(-250px);
    }
}


.bg-animation{
    position: relative;
    display: flex;
    width: 100vw;
}
.bg-animation span{
    position: relative;
    width: 20px;
    height: 10px;
    /* background-color: red; */
    margin: 25px;
    border-radius: 0px;
    animation: Smoothpullup 10s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-duration: calc(100s / var(--i));
    animation-delay: -5s;
    transition: 3s;
    animation-duration: calc(120s / var(--i));

}
.bg-animation span img{
    width: 80px;
    height: 69px;
}

@keyframes Smoothpullup {
    0% {
        transform: translateY(100vh) translateX(0px) rotate(-20deg) scale(0.5);
    }
    20% {
        transform: translateY(75vh) translateX(-100px) rotate(-10deg) scale(0.75);
    }
    40% {
        transform: translateY(50vh) translateX(50px) rotate(5deg) scale(1);
    }
    60% {
        transform: translateY(25vh) translateX(-80px) rotate(-10deg);
    }
    80% {
        transform: translateY(10vh) translateX(60px) rotate(5deg);
    }
    100% {
        transform: translateY(-20vh) translateX(0px) rotate(0deg);
    }
}





/*Full page animation Start*/
@keyframes Smoothpullup {
    0% {
        transform: translateY(248vh) translateX(0px) rotate(-20deg) scale(0.5);
    }
    20% {
        transform: translateY(150vh) translateX(-100px) rotate(-10deg) scale(0.75);
    }
    40% {
        transform: translateY(80vh) translateX(50px) rotate(5deg) scale(1);
    }
    60% {
        transform: translateY(45vh) translateX(-80px) rotate(-10deg);
    }
    80% {
        transform: translateY(20vh) translateX(60px) rotate(5deg);
    }
    100% {
        transform: translateY(-20vh) translateX(0px) rotate(0deg);
    }
}
/*End*/